<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{name}} - About Us</title>
  </head>
  <body>
    <h1>{{name}}</h1>
    <p>
      {{position}}, {{location}}
    </p>
  </body>
</html>
